<div class="foods-collection">
  <input id="food-search" type="text" placeholder="food item">
  <input type="submit">
  <div id="search-list">
    <ul class="search-results"></ul>
  </div>
  <div id="pantry-list"></div>
  <div id="shopping-list"></div>
</div>

