<div class="foods-collection">
  <div id="pantry">
    <h2>In Your Fridge</h2>
    <div id="fridge-search">
      <input class="food-search fridge" type="text" placeholder="food item">
      <input type="submit" value="Put my custom food in the fridge">
      <ul class="search-results fridge"></ul>
    </div>
  <ul class="fridge-list"></ul>
  </div>
  <div id="shopping">
    <h2>Your Shopping List</h2>
    <div id="shopping-search">
      <input class="food-search shopping" type="text" placeholder="food item">
      <input type="submit" value="Put my custom food on the shopping list">
      <ul class="search-results shopping"></ul>
    </div>
  <ul class="shopping-list"></ul>
  </div>
</div>


<!-- <div class="foods-collection">
  <input id="food-search" type="text" placeholder="food item">
  <input type="submit">
  <div id="search-list">
    <ul class="search-results"></ul>
  </div>
  <div id="pantry-list"></div>
  <div id="shopping-list"></div>
</div> -->


