<div class="list-o-g"><p class='food-list'>{{ food_name }}</p> <button class='bought form-button list-button'>Add to fridge</button><button class='trash form-button list-button'>Delete</button></div> 